In [1]:
# Project one: 
# Let's extract one paragraph from apple.com's article 

#1. Install Library

import requests

url = 'https://www.apple.com/newsroom/2021/01/apple-reports-first-quarter-results/'

res = requests.get(url)

In [2]:
#show res - get a response object
res

In [3]:
#show res content- html code
#res.content

In [4]:
#2. install library
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\kohsu\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\kohsu\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [5]:
#3. import bs4 class
from bs4 import BeautifulSoup

In [6]:
#4. pass data into variables
page_content = res.content.decode("utf-8") # convert byte code to string
soup = BeautifulSoup(page_content, "html.parser")

In [7]:
# soup

In [8]:
#5. pass the context into a variable
# Use object to get Html

article = soup.find("article")

In [9]:
# article

In [10]:
# 6. grab the first element from the article

p1 = article.find_all("div", class_ = "pagebody-copy")[0]

In [11]:
# 7. show the paragraph you need

p1.text

'Cupertino, California — January 27, 2021 — Apple today announced financial results for its fiscal 2021 first quarter ended December 26, 2020. The Company posted all-time record revenue of $111.4 billion, up 21 percent year over year, and quarterly earnings per diluted share of $1.68, up 35 percent. International sales accounted for 64 percent of the quarter’s revenue.\n'

In [12]:
# Project two:
# Apply the webcrawiling to extract the movie data from the web

import requests

url="https://learnwithshin.github.io/docs/practices/top_rated_movies/"

res = requests.get(url)

In [13]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\kohsu\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\kohsu\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)

In [15]:
from bs4 import BeautifulSoup

In [16]:
page_content = res.content.decode("utf-8") #transfer to text
soup = BeautifulSoup(page_content, "html.parser")

In [17]:
type(soup.find("td"))

bs4.element.Tag

In [18]:
soup.find("td")

In [19]:
result = soup.find_all("td")
#result

In [20]:
data=[]
data

[]

In [21]:
# Display the movie data by it's title, year and ranking 

for num in range(0,30,3):
    title=result[num+0].text
    year = result[num+1].text
    ranking = result[num+2].text
    movie = {"title":title,"year":year,"ranking":ranking}
    data.append(movie)
print(data)

[{'title': 'The Shawshank Redemption', 'year': '(1994)', 'ranking': '9.2'}, {'title': 'The Godfather', 'year': '(1972)', 'ranking': '9.1'}, {'title': 'The Godfather: Part II', 'year': '(1974)', 'ranking': '9.0'}, {'title': 'The Dark Knight', 'year': '(2008)', 'ranking': '9.0'}, {'title': '12 Angry Men', 'year': '(1957)', 'ranking': '8.9'}, {'title': "Schindler's List", 'year': '(1993)', 'ranking': '8.9'}, {'title': 'The Lord of the Rings: The Return of the King', 'year': '(2003)', 'ranking': '8.9'}, {'title': 'Pulp Fiction', 'year': '(1994)', 'ranking': '8.8'}, {'title': 'The Good, the Bad and the Ugly', 'year': '(1966)', 'ranking': '8.8'}, {'title': 'The Lord of the Rings: The Fellowship of the Ring', 'year': '(2001)', 'ranking': '8.8'}]

In [22]:
import pandas as pd

In [23]:
# this works becasue we have our result formated in such a way it can be digested by pandans DataFrame
movies = pd.DataFrame(result)

In [25]:
top_10_movies = movies.head(10)

In [26]:
top_10_movies  # in a nicely formated DataFrame

                          0
0  The Shawshank Redemption
1                    (1994)
2                       9.2
3             The Godfather
4                    (1972)
5                       9.1
6    The Godfather: Part II
7                    (1974)
8                       9.0
9           The Dark Knight

In [ ]:
# save the file as csv if need
movies.to_csv("movies_with_ratings.csv")